<div class="hero">
    <app-employee-navbar></app-employee-navbar>


<body>


    <div class="gallery">
        <article class="card">
          <figure (click)="add3()">
            <img src="../assets/demande/6.jpg" width="150" height="90" alt="Winter Forest">
            <figcaption>
              <h3>Avance Slaire</h3>
            </figcaption>
          </figure>
        </article>
        <article class="card">
            <figure>
              <a  (click)="add2()">
                <img src="../assets/demande/1.jpg" width="150" height="100" alt="Lavender Field">
                <figcaption>
                  <h5>Attestation</h5>
                </figcaption>
              </a>
            </figure>
          </article>
        <article class="card">
            <figure  (click)="add()">
              <img src="../assets/demande/3.jpg" width="150" height="50" alt="Winter Forest">
              <figcaption>
                <h5>Congé</h5>
              </figcaption>
            </figure>
          </article>
        <!-- Pictures from Freepik -->
      </div>



    </body>


</div>
    