<div class="hero">
    <app-employee-navbar></app-employee-navbar>










  <!-- 3D Slideshow Section --> 
  <section id="slideshow">
    <div class="entire-content">
      <div class="content-carrousel">
        <figure class="shadow"><img src="../assets/circle/1.jpg"/></figure>
        <figure class="shadow"><img src="../assets/circle/2.png"/></figure>
        <figure class="shadow"><img src="../assets/circle/3.jpg"/></figure>
        <figure class="shadow"><img src="../assets/circle/4.jpg"/></figure>
        <figure class="shadow"><img src="../assets/circle/5.jpg"/></figure>
        <figure class="shadow"><img src="../assets/circle/6.png"/></figure>
        <figure class="shadow"><img src="../assets/circle/8.jpg"/></figure>
        <figure class="shadow"><img src="../assets/circle/2.png"/></figure>
        <figure class="shadow"><img src="../assets/circle/4.jpg"/></figure>
    </div>
    </div>
    </section>



</div>    