.hero{
	width: 100%;
	min-height: 100vh;
	background: #f7f7f7;
	color: #525252;
  }



  
  
.big-text {
    font-size: 20px;
    font-weight: bold;
  }
  
  :focus {
      outline: 0;
      border-color: #2260ff;
      box-shadow: 0 0 0 4px #b5c9fc;
    }
    
    .mydict div {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0.5rem;
      justify-content: center;
    }
    
    .mydict input[type="radio"] {
      clip: rect(0 0 0 0);
      clip-path: inset(100%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
    
    .mydict input[type="radio"]:checked + span {
      box-shadow: 0 0 0 0.0625em #0043ed;
      background-color: #dee7ff;
      z-index: 1;
      color: #0043ed;
    }
    
    label span {
      display: block;
      cursor: pointer;
      background-color: #fff;
      padding: 0.375em .75em;
      position: relative;
      margin-left: .0625em;
      box-shadow: 0 0 0 0.0625em #b5bfd9;
      letter-spacing: .05em;
      color: #3e4963;
      text-align: center;
      transition: background-color .5s ease;
    }
    
    label:first-child span {
      border-radius: .375em 0 0 .375em;
    }
    
    label:last-child span {
      border-radius: 0 .375em .375em 0;
    }


















    body {
      margin-top: 20px;
      background: #FFF5EE;
  }
  
  .card {
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  }
  
  .avatar.sm {
      width: 2.25rem;
      height: 2.25rem;
      font-size: .818125rem;
  }
  
  .table-nowrap .table td,
  .table-nowrap .table th {
      white-space: nowrap;
  }
  
  .table>:not(caption)>*>* {
      padding: 0.75rem 1.25rem;
      border-bottom-width: 1px;
  }
  
  table th {
      font-weight: 600;
      background-color: #eeecfd !important;
  }
  
  .fa-arrow-up {
      color: #00CED1;
  }
  
  .fa-arrow-down {
      color: #FF00FF;
  }
  
  
  
  /////////////
  
  .Btn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px 20px;
    background-color: #212121;
    border: none;
    font: inherit;
    color: #e8e8e8;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    cursor: not-allowed;
    overflow: hidden;
    transition: all 0.3s ease cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button span {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
  }
  
  .button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    translate: 0 105%;
    background-color: #F53844;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button svg {
    width: 32px;
    height: 32px;
    fill: #F53844;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover {
    animation: shake 0.2s linear 1;
  }
  
  .button:hover::before {
    translate: 0 0;
  }
  
  .button:hover svg {
    fill: #e8e8e8;
  }
  
  @keyframes shake {
    0% {
      rotate: 0deg;
    }
  
    33% {
      rotate: 10deg;
    }
  
    66% {
      rotate: -10deg;
    }
  
    100% {
      rotate: 10deg;
    }
  }
  
  
  
  ////////////////////////////////////
  /// 
  /// 
  
  
  
  .buttonn{
    display: flex;
    justify-content: center;
    color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: linear-gradient(30deg, rgb(255, 130, 0) 20%, rgb(255, 38, 0) 80%);
    transition: all 0.3s ease-in-out 0s;
    box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
    animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
    align-items: center;
    border: 0;
  }
  
  .buttonn:is(:hover, :focus) {
    transform: scale(1.2);
  }
  
  @keyframes pulse {
    100% {
      box-shadow: 0 0 0 45px rgba(193,244,246,0);
    }
  }