<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/login1.png" width="100" height="136"  alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manager/home">
    <mat-icon>home</mat-icon> Home
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manager/gestion-employee">
    <mat-icon>perm_contact_calendar</mat-icon> Gestion Employee
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manager/gestion-manager">
    <mat-icon>perm_contact_calendar</mat-icon>Gestion Manager
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manager/gestion-demande-conge">
    <mat-icon>beach_access</mat-icon> Gestion Demande Congé
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manager/gestion-demande-attestation">
    <mat-icon>file_copy</mat-icon> Gestion Demanande Attestaion
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manager/gestion-demande-salaire">
    <mat-icon> attach_money</mat-icon> Gestion Avance Salaire</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manager/statistique">
      <mat-icon> attach_money</mat-icon> Statistique</a>

</mat-nav-list>
