<div class="dialog-container">
    <h1>Ajouter Employee</h1>
    <form class="form-container" [formGroup]="registrationForm" (ngSubmit)="register()">
     
        
      <div class="form-field">
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput type="text"  [(ngModel)]="registerRequest.firstname" #name="ngModel" name="firstname"  id="name" required minlength="4" required>
        </mat-form-field>
        <div *ngIf="registrationForm.get('firstname').invalid && registrationForm.get('firstname').touched">
          Name is required.
        </div>

      </div>
      
      <div class="form-field">
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput type="text"  [(ngModel)]="registerRequest.lastname" name="lastname" required>
        </mat-form-field>
        <div *ngIf="registrationForm.get('lastname').invalid && registrationForm.get('lastname').touched">
          Last Name is required.
        </div>
      </div>
      
      <div class="form-field">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email"   [(ngModel)]="registerRequest.email"  name="email" required>
        </mat-form-field>
        <div *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
          Please enter a valid email address.
        </div>
      </div>
      <div class="form-field">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password"    [(ngModel)]="registerRequest.password" name="password"   required>
        </mat-form-field>
        <div *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">
          Password is required.
        </div>
      </div>
      <div class="form-field">
        <mat-form-field>
          <mat-label>Date de naissance</mat-label>
          <input matInput type="date"    [(ngModel)]="registerRequest.naissance" name="naissance"   required>
        </mat-form-field>
        <div *ngIf="registrationForm.get('naissance').invalid && registrationForm.get('naissance').touched">
          <div *ngIf="registrationForm.get('naissance').errors?.required">
            Date of Birth is required.
          </div>
          <div *ngIf="registrationForm.get('naissance').errors?.futureDate">
            Date of Birth cannot be in the future.
          </div>
        </div>
    
      </div>
      <div class="form-field">
        <mat-form-field>
          <mat-label>Telephone</mat-label>
          <input matInput type="text"       [(ngModel)]="registerRequest.telephone" name="telephone" required>
        </mat-form-field>
        <div *ngIf="registrationForm.get('telephone').invalid && registrationForm.get('telephone').touched">
          Telephone is required.
        </div>
      </div>

      <div class="error-message" *ngIf="registrationForm.invalid && registrationForm.dirty">
    Please fill in all required fields before submitting the form.
  </div>
     
      <div class="dialog-actions">
        <button type="button" class="btn-cancel" (click)="dialogRef.close()">Fermer</button>

        <button mat-raised-button color="primary" type="submit" class="btn-submit" >Enregistrer</button>
      </div>
   </form>
  </div>
  
